* {
    margin: 0;
    body {
        scroll-behavior: smooth;
        scroll-snap-type: mandatory;
        .container {
            background-color: rgb(147, 144, 144);
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            height: 300vh;
            .slide-in {
                position: fixed;
                top: 0;
                right: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 30%;
                background-color: aliceblue;
                color: rgb(10, 10, 163);
                nav {
                    transition: all ease-in .8s;  
                    ul {
                        li {
                            margin: 3vh 0 0 0;
                            font-size: 3vw;
                            list-style: armenian;
                            font-weight: bold;
                        }
                    }
                }
                .back {
                    margin: 10vh 0 0 0;
                    button {
                        border: none;
                        border-radius: 30px;
                        width: 4vw;
                        font-size: 1.5vw;
                        font-weight: bold;
                        background-color: aliceblue;
                        color: rgb(10, 10, 163);
                        cursor: pointer;
                    }
                }
            }
            .slide-in.activate {
                left: 0;
                opacity: 1;
            }
            .bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // opacity: .4;
                .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 35vw;
                    padding: 10vh;
                    // background-color: aquamarine;
                    h1 {
                        font-size: 5vw;
                    }
                    button {
                        background-color: rgb(8, 8, 147);
                        width: 5vw;
                        height: 5vw;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        cursor: pointer;
                    }
                }
                .body {
                    width: 70%;
                    font-weight: bold;
                }
                .body2 {
                    width: 70%;
                    font-weight: bold;
                }
                .body3 {
                    width: 70%;
                    font-weight: bold;
                }
                .body4 {
                    width: 70%;
                    font-weight: bold;
                }
            }
            .bottom.activate {
                // opacity: .3;
                background-color: rgb(31, 27, 27);
            }
        }
    }
    body.activate {
        overflow: hidden;
    }
}